spring:
  main:
    banner-mode: OFF

  datasource:
    url: jdbc:h2:mem:salesDB
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database: H2
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true


secure:
  key: ${SECRETKEY}