spring:
  main:
    banner-mode: OFF

  datasource:
    url: jdbc:postgresql://PG_DB:5432/salesDB
    username: postgres
    password: postgres

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

secure:
  key: ${SECRETKEY}